<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tools</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table border="1px">
    <form action="#" th:action="@{/commonTool}" th:object="${commonTool}" method="post">
        <textarea id="content1" type="text" th:field="*{content}"
                  style="height: 60px; width: 40%; border: 1px solid  #000; overflow-y: auto;"/>
        <div th:utext="${constantContent}" contenteditable="true"
             style="position: absolute; top: 1% ;left: 45%; height: 60px; width: 40%; border: 1px solid  #000; overflow-y: auto;"></div>
        <p><input type="submit" value="单词转常量"/></p>
    </form>
</table>
<p><a href="http://127.0.0.1:40006/index">返回主页面</a></p>
</body>
</html>