<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tools</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table border="1px">

            <form action="#" th:action="@{/compare}" th:object="${compare}" method="post">
                <p>
                    <select name="group" class="form-control" th:field="*{isIgnoreValueType}" style="margin-left: 50px;height: 23px">
                        <option value="0">区分值类型(仅对json有效)</option>
                        <option value="1">忽略值类型</option>
                    </select>
                    <input type="submit" value="进行比对" style="margin-left: 50px"/>
                </p>
                <p>
                    <input type="text" th:field="*{format1}" style="width: 200px;"
                           placeholder="请输入原始内容格式,如result.data,则只解析result层级下data的内容, 需保证层级为JSONObject格式"/>
                    <input type="text" th:field="*{format2}" style="position: absolute;left: 45%;width: 200px;"
                           placeholder="请输入对比内容格式,如result.data,则只解析result层级下data的内容, 需保证层级为JSONObject格式"/>
                </p>
                <div id="result1" th:utext="${result1}" onblur="onblur1()" contenteditable="true"
                     style="height: 600px; width: 40%;border: 1px solid  #000; overflow-y: auto;"></div>
                <div id="result2" th:utext="${result2}" onblur="onblur1()" contenteditable="true"
                     style="position: absolute; top: 95px; left: 45%; height: 600px; width: 40%; border: 1px solid  #000; overflow-y: auto;"></div>
                <textarea id="content1" type="text" th:field="*{content1}" style="display:none;"/>
                <textarea id="content2" type="text" th:field="*{content2}" style="display:none;"/>
            </form>
    </table>
    <style>
        .red {
            color:red;
        }
    </style>
    <script>
        function onblur1() {
            document.getElementById("content1").value = document.getElementById("result1").innerText;
            document.getElementById("content2").value = document.getElementById("result2").innerText;
        }
    </script>
</body>
</html>