<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tools</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<ol>
    <li><a href="http://127.0.0.1:40006/trim">字符串去空</a></li><br/>
    <li><a href="http://127.0.0.1:40006/compare">内容对比</a></li><br/>
    <li><a href="http://127.0.0.1:40006/compareOld">内容对比(老版本)</a></li><br/>
    <li><a href="http://127.0.0.1:40006/entityToVo">实体类转VO</a></li><br/>
    <li><a href="http://127.0.0.1:40006/wordToConstant">单词转常量</a></li><br/>
</ol>
</body>
</html>