<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tools</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table border="1px">
    <form action="#" th:action="@{/start}" th:object="${start}" method="post">
        <p style="margin-left: 20%;">cookie: <input type="text" th:field="*{cookie}"  style="margin-left: 21px; width: 500px"/></p>
        <p style="margin-left: 20%;">eid: <input type="text" th:field="*{eid}"  style="margin-left: 47px; width: 500px"/></p>
        <p style="margin-left: 20%;">fp: <input type="text" th:field="*{fp}"  style="margin-left: 55px; width: 500px"/></p>
        <p style="margin-left: 20%;">抢购时间: <input type="text" th:field="*{startTime}"  style="margin-left: 6px; width: 500px" placeholder="请输入时间戳"/></p>
        <p style="margin-left: 20%;"><input type="submit" value="点击开始快乐"/></p>
        <br/>
        <div style="margin-left: 20%;">订单号:
            <div th:utext="${orderId}" contenteditable="true" style="position: absolute;top: 230px; left: 375px;width: 505px; border: 1px solid  #000;"></div>
        </div>
        <span style="margin-left: 20%;color: red;">如果抢到商品,则会在此展示订单号,未抢到则不展示</span>
    </form>
</table>
<p><a href="http://127.0.0.1:40006/index">返回主页面</a></p>
</body>
</html>