<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tools</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table border="1px">
    <form action="#" th:action="@{/start1}" th:object="${start}" method="post">
        <p style="margin-left: 20%;">cookie: <input type="text" th:field="*{cookie}"  style="margin-left: 21px; width: 500px"/></p>
        <p style="margin-left: 20%;">eid: <input type="text" th:field="*{eid}"  style="margin-left: 47px; width: 500px"/></p>
        <p style="margin-left: 20%;">fp: <input type="text" th:field="*{fp}"  style="margin-left: 55px; width: 500px"/></p>
        <!--<p style="margin-left: 20%;">uid: <input type="text" th:field="*{uid}"  style="margin-left: 55px; width: 500px"/></p>-->
        <p style="margin-left: 20%;">userKey: <input type="text" th:field="*{userKey}"  style="margin-left: 55px; width: 500px"/></p>
        <p style="margin-left: 20%;">area: <input type="text" th:field="*{area}"  style="margin-left: 55px; width: 500px"/></p>
        <p style="margin-left: 20%;"><input type="submit" value="点击开始持续快乐"/></p>
    </form>
</table>
<p><a href="http://127.0.0.1:40006/index">返回主页面</a></p>
</body>
</html>