<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tools</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table border="1px">
    <form action="#" th:action="@{/trim}" th:object="${trim}" method="post">
        <p>content: <input type="text" th:field="*{content}"  style="height: 200px;"/></p>
        <p><input type="submit" value="字符串去空"/></p>
    </form>
</table>
<p><a href="http://127.0.0.1:40006/index">返回主页面</a></p>
</body>
</html>